GROQ_API_KEY=
GROQ_MODEL=openai/gpt-oss-20b
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2


#tools
WEATHER_API=https://geocoding-api.open-meteo.com/v1/search
WEATHER_API_MAX_RETRIES=3
TOOL_MAX_ITERATIONS=10


#langsmith
LANGSMITH_API_KEY=
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=tripmind-ai

#DATA_BASE
DATABASE_URL=


APP_NAME=TripMind AI
APP_ENV=development
DEBUG=true